{% extends "@BurutBase/layout.html.twig" %}

{% set user = base.user %}

{% block content %}
    <form action="{{ path('_base_edit', {id:base.id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>

{% endblock %}